{% extends 'maximatch/base.html' %}

{% block body_block %}
    <h1>All experiments</h1>

    {% if experiments %}

            {% for experiment in experiments %}
                <div class="col-md-4">
                  <h2>{{ experiment.title }}</h2>
                  <p>{{ experiment.short_description }}</p>
                  <p>£{{ experiment.payment_cash }}</p>
                  <p><a class="btn btn-default" href="/maximatch/experiment/{{ experiment.url }}" role="button">View details &raquo;</a></p>
                </div>
            {% endfor %}        

    {% else %}
        <strong>Sorry, there are no open experiments at the moment.</strong>
    {% endif %}
{% endblock %}