{% extends 'maximatch/base.html' %}

{% block body_block %}
    <div class="page-header">
      <h1>All experiments</h1>
    </div>

    {% if experiments %}

            {% for experiment in experiments %}
                <div class="col-md-6 well">
                  <p><h2>{{ experiment.title }}</h2> <span class="pull-right">£{{ experiment.payment_cash }}</span></p>
                  <p>{{ experiment.short_description }}</p>
                  <br>

                  <p>Duration: {{ experiment.duration }} <a class="btn btn-default pull-right" href="/maximatch/experiment/{{ experiment.url }}" role="button">View details &raquo;</a></p>
                  {% if is_researcher %}
                  <p>{{ experiment.num_participants }} Participants</p>
                  {% endif %}
                  <p></p>
                </div>
            {% endfor %}        

    {% else %}
        <strong>Sorry, there are no open experiments at the moment.</strong>
    {% endif %}
{% endblock %}