{% extends 'maximatch/base.html' %}

{% load maximatch_extras %}

{% block title %}View user{% endblock %}

{% block body_block %}

    <div class="page-header">
      <h1>User</h1>
    </div>

    <div class="col-md-12">
        {% if participant %}
                <p><strong>Username: </strong>{{ participant.user.username }}</a>
                <p><strong>Name: </strong>{{ participant.user.first_name }} {{ participant.user.last_name }}</p>
                <p><strong>Email: </strong>{{ participant.user.email }}</p>
                <p><strong>Gender: </strong>{{ participant.gender }}</p>
                <p><strong>Matriculation ID: </strong>{{ participant.matriculation_id }}</p>
                <p><strong>Nationality: </strong>{{ participant.nationality }}</p>
                <p><strong>Date of Birth: </strong>{{ participant.date_of_birth }}</p>
                <p><strong>Mobile Number: </strong>{{ participant.mobile_number }}</p>
                <p><strong>Telephone Number: </strong>{{ participant.telephone_number }}</p>
                <p><strong>First language: </strong>{{ participant.first_language }}</p>
                <p><strong>Education level: </strong>{{ participant.education_level }}</p>

            {% if application_list %}

        <h3>Applied for</h3>
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Published</th>
            <th>Participants</th>
            <th>Applied on</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        {% for application in application_list %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="/experiment/{{ application.experiment.url }}" class="no-style">{{ application.experiment.title }}</a></td>
            <td>{{ application.experiment.published }}</td>
            <td><a href="/view_participants/{{ application.experiment.url }}" class="no-style">{{ application.experiment.num_participants }} / {{ application.experiment.participants_needed }}</a></td>
            <td>{{ application.applied_on }}</td>
            <td>{{ application.experiment.status }}</td>
      </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
        <div class="alert alert-warning">
          No participants have applied yet.
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>    
        </div>
    {% endif %}

        {% else %}
            <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>    
            {{ error_message }}
            </div>
        {% endif %}
    </div>

    <p><a href="/">&laquo; Experiment list</a></p>
{% endblock %}